/* add your CSS here */
body{
    width: 25%;

}

#border{
    border: 1px solid;
    margin: 15px;
    box-shadow: 5px 5px 5px 0px rgba(212,204,212,1);
    -webkit-box-shadow: 7px 7px 5px 0px rgba(212,204,212,1);
    -moz-box-shadow: 7px 7px 5px 0px rgba(212,204,212,1);
    padding-left:10px;
    background-color: #93b86d;
}

#fact{
    border: 1px solid;
    margin: 10px;
    padding-left:10px;
    background-color:yellow;
}

#italic{
    font-style: italic;
}

.bold{
    font-weight: bold;
}

.list{
    list-style-type: none;
    padding: 0;
    margin-left: 0;
}